
@font-face {
    font-family: 'Benzin-bold';
    src: url('./Benzin-Bold.ttf');
    src: local('☞Benzin Bold'), local('Benzin-Bold'),
        url('./Benzin-Bold.eot?#iefix') format('embedded-opentype'),
        url('./Benzin-Bold.woff2') format('woff2'),
        url('./Benzin-Bold.woff') format('woff'),
        url('./Benzin-Bold.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url(./Montserrat-VariableFont_wght.ttf);
}


