*{
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: #000;
}
.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.modalbox {
    display: none;
    background-color: #000;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    overflow: hidden;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
}

.modalbox__content {
    border-radius: 56px;
    position: relative;
    height: 100%;
    /* max-width: 700px; */
    /* margin: 100px auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalbox__intro {
    width: clamp(17.5rem, 87.5vw, 43.75rem);
}
.modalbox__content .boll_rad{
    top: -29px;
    left: 50.4%;
}
.modalbox__head{
    background-image: url("../img/modalbox/modalbox__head.svg");
    background-repeat: no-repeat;
    height: 101px;
    /* padding: 38px 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/* .modalbox__intro {
    position: relative;
} */
.modalbox__head::after {
    content: "";
    display: block;
    position: absolute;
    top: -50%;
    left: 360px;
    transform: translateX(-50%);
    width: 58px;
    height: 58px;
    background-image: url("../icons/58pxcircle.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}
.modalbox__close-item {
    background: transparent;
    border: 0px none;
    outline: 0px none;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.modalbox__intro h1 {
    font-family: Montserrat;
    font-size: 29px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    color: rgba(33, 155, 224, 1);
}

.modalbox__intro form {
    background-color: rgba(13, 18, 24, 1);
    display: flex;
    flex-direction: column;
    max-width: 700px;
    padding-top: 80px;
    padding-bottom: 35px;
    border-bottom-left-radius: 56px;
    border-bottom-right-radius: 56px;
    margin-top: -6px;
    box-shadow: 
        0px 19px 42px 0px rgba(45, 45, 47, 0.43),
        0px 77px 77px 0px rgba(45, 45, 47, 0.37),
        0px 173px 104px 0px rgba(45, 45, 47, 0.22),
        0px 308px 123px 0px rgba(45, 45, 47, 0.06),
        0px 481px 135px 0px rgba(45, 45, 47, 0.01);
}
.modalbox__intro-content {
    background-color: #0d1218;
    display: flex;
    justify-content: center;
    max-width: 700px;
    padding-top: 50px;
    padding-bottom: 35px;
    border-bottom-left-radius: 56px;
    border-bottom-right-radius: 56px;
    margin-top: -6px;
    box-shadow: 0px 19px 42px 0px rgba(45, 45, 47, .43), 0px 77px 77px 0px rgba(45, 45, 47, .37), 0px 173px 104px 0px rgba(45, 45, 47, .22), 0px 308px 123px 0px rgba(45, 45, 47, .06), 0px 481px 135px 0px rgba(45, 45, 47, .01);
}

.modalbox__intro-qr {
    width: 140px;
    height: 140px;
    padding: 24.5px;
    border-radius: 80px;
    background-color: #fff;
    /* margin-left: 40px; */
    /* margin-top: 70px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalbox__intro form .modalbox__input {
    border: 0px none;
    border-radius: 85px;
    outline: 0px none;
    background-color: #f4f4f4;
    margin: 0 auto;
    max-width: 280px;
    min-width: 260px;
    height: 80px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: center;
    /* color: rgba(50, 50, 50, 0.5); */
}

.modalbox__intro form .modalbox__textarea {
    margin: 30px auto 0 auto;
    height: 160px;
    outline: 0px none;
    border: none;
    max-width: 280px;
    min-width: 260px;
    height: 120px;
    border-radius: 85px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: center;
}

.modalbox__intro form button {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 800;
    line-height: 23px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;

    max-width: 280px;
    min-width: 260px;
    height: 100px;
    border: 0px none;
    border-radius: 85px;
    outline: 0px none;
    margin: 30px auto 40px auto;
    background-color: rgba(33, 155, 224, 1);

    cursor: pointer;
    transition: 0.5s;
}
.modalbox__intro form button:hover {
    background: rgb(22 111 161);
}

.modalbox__subtitle {
    display: flex;
    width: 280px;
    margin: 0 auto;
}

.modalbox__subtitle input {
    box-shadow: 0px none;
}

.modalbox__subtitle p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;
    color: rgba(184, 184, 184, 0.5);
    margin-left: 19px;
}

header{
    /* height: 840px; */
    gap: 0px;
    /* opacity: 0.3px; */
}
.header__fon{
    position:absolute;
    z-index: -2000;
    right: 0;
    /* top: 35px; */
    opacity: 80%;
    height: 850px;
    width: 100%;
    object-fit: cover;
}
/* @media (max-width: 1250px) {
    .header__fon {
        display: none;
    }
} */
.main-title {
    margin: clamp(2.5rem, 0.455rem + 10.23vw, 8.125rem) 0 0 0;
    line-height: clamp(1.625rem, 0.443rem + 5.91vw, 4.875rem);
}
.title2 {
    margin: 90px 0 0 0 !important;
}
.title3 {
    margin: 100px 0 0 0 !important;
}
.title4 {
    margin: 40px 0 0 0 !important;
}
.title5 {
    margin: 115px 0 0 0 !important;
}
.title6 {
    margin: 80px 0 0 0 !important;
}
.title7 {
    margin: 0px 0 0 0 !important;
}
.title8 {
    margin: 80px 0 0 0 !important;
}
.item-1{
    /* left: 19%; */
    /* top: 7%; */

    left: clamp(-3.125rem, -20.872rem + 36.4vw, 22.813rem);
    top: 3vw;
}
.item-2{
    /* left: 39.5%; */
    /* top: 13%; */

    right: clamp(5rem, -29.638rem + 71.05vw, 55.625rem);
    top: 6vw;
}
.item-3{
    /* left: 15%; */
    /* top: 67%; */

    left: clamp(2.5rem, -8.191rem + 21.93vw, 18.125rem);
    top: clamp(23rem, 20.776rem + 4.56vw, 26.25rem);
}
.item-4{
    /* left: 21%; */
    /* top: 80%; */

    left: clamp(8.125rem, -3.421rem + 23.68vw, 25rem);
    top: clamp(28.125rem, 25.987rem + 4.39vw, 31.25rem);
}
.item-5{
    /* left: 33%; */
    /* top: 61%; */

    right: clamp(5rem, -29.638rem + 71.05vw, 55.625rem);
    top: clamp(14.375rem, 7.747rem + 13.6vw, 24.063rem);
}
@media screen and (max-width:780px) {
    .header__fon,.item-1,.item-2,.item-3,.item-4,.item-5{
    display: none;
}
}
.head{
    padding-top: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 60px;
}
.logo p{
    font-size: 15px;
    font-weight: 700;
    line-height: 18.29px;
    letter-spacing: 0.1em;
    color: #fff;
    text-transform: uppercase;
}
.head nav{
    display: flex;
    align-items: center;
}
nav .watt img{
    height: clamp(1.25rem, 0.577rem + 2.56vw, 2.5rem);
    margin: 15px auto 0 auto;
    display: block;
}
nav .watt svg{
    height: clamp(1.25rem, 0.577rem + 2.56vw, 2.5rem);
    margin: 15px auto 0 auto;
    display: block;
}
nav .watt svg:hover {
    rect {
        fill: #1b6e29;
    }
}
@media (min-width: 626px) {
    nav .watt img {
        margin: 0;
    }
    nav .watt svg {
        margin: 0;
    }
}
.head_tel{
    display: flex;
    align-items: center;
    margin-right: clamp(1.25rem, 0.114rem + 5.68vw, 4.375rem);
}
.head_tel img{
    width: clamp(2.375rem, 1.702rem + 2.56vw, 3.625rem);
}
.head_tel a{
    font-family: Montserrat;
    font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
    font-weight: 800;
    line-height: 24.38px;
    text-decoration: none;
    margin-left: 1vw;
    color: #fff;
}
h2{
    font-family: Montserrat;
    font-size: clamp(1.625rem, 0.443rem + 5.91vw, 4.875rem);
    font-weight: 900;
    text-align: left;
    /* margin-top: 150px; */
    color: #fff;
    text-transform: uppercase;
    position: relative;
}
.head_fon_mob{
    display: none;
}
.navigation{
    margin-top: clamp(3.125rem, 0.17rem + 14.77vw, 11.25rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    /* gap: 150px; */
}
@media (max-width: 1100px) {
    .navigation {
        flex-direction: column;
        align-items: center;
    }
    .cards {
        margin: 60px 0 0 0;
    }
}
.but{
    position: relative;
}
.navigation .but{
    position: relative;
    display: flex;
    align-items: flex-start;
}
.navigation .but button{
    text-decoration: none;
    color: #fff;
    background-color: rgba(33, 155, 224, 1);
    width: 280px;
    height: 100px;
    max-width: 280px;
    min-width: 190px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 800;
    line-height: 23px;
    text-align: center;
    border-radius: 85px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.navigation .but button:hover {
    background: rgb(22 111 161);
}
.navigation .but::after {
    content: "";
    display: block;
    position: absolute;

    right: -16%;
    top: 50%;
    transform: translateY(-50%);

    width: 190px;
    height: 190px;

    background-image: url('../icons/190pxcircle.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}
@media(max-width: 430px) {
    .navigation .but::after {
        display: none;
    }
}

.head__item{
    position: absolute;
}
.kr{
    position: absolute;
    z-index: 0;
    margin-left: 7.5vw;
}
.kr-1{
    width: 121px;
    height: 121px;
    gap: 0px;
    border-radius: 127.77px;
    border: 1.07px solid rgba(255, 255, 255, 0.4);
}
.kr-2{
    width: 155px;
    height: 155px;
    gap: 0px;
    border-radius: 127.77px;
    border: 1.07px solid rgba(255, 255, 255, 0.2);
    margin-left: 6.5vw;
}
.kr-3{
    width: 190px;
    height: 190px;
    gap: 0px;
    border-radius: 127.77px;
    border: 1.07px solid rgba(255, 255, 255, 0.1);
    margin-left: 5.5vw;
}
.cards{
    /* margin-left: 22.6vw; */
    display: flex;
    gap: 40px;
    /* padding-top: 80px; */
}
@media (max-width: 900px) {
    .cards {
        flex-wrap: wrap;
        justify-content: center;
    }
}
.card{
    width: 160px;
    max-width: 160px;
    min-width: 130px;
    /* margin-right: 40px; */
}
.finish{
    margin-right: 0;
}
.card img{
    background-color: rgba(217, 217, 217, 0.1);
    padding: 30px;
    /* max-width: 45px; */
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.card p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-top: 24px;
    color: #fff;
    text-wrap: balance;
}
.block_cards{
    /* margin-top: 252px; */
}
.two {
    background: url("../img/bg/fon-2-min.webp");
    background-repeat: no-repeat;
    background-size: contain;
}

.block_cards h2,.title__main{
    margin: clamp(5rem, 3.409rem + 7.95vw, 9.375rem) auto 0 auto;
    width: 1200px;
    font-size: clamp(1.625rem, 0.489rem + 5.68vw, 4.75rem);
    font-family: Montserrat;
    font-weight: 800;
    line-height: clamp(1.625rem, 0.489rem + 5.68vw, 4.75rem);
    text-align: center;
    text-transform: uppercase;
}
@media (max-width: 1300px) {
    .block_cards h2,
    .title__main {
        width: auto;
    }
}
.strel{
    width: 102.25px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.cards_work{
    margin: 90px 0 0 0;
    column-gap: 40px;
    row-gap: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.work_card{
    width: 260px;
    /* margin-top: 80px; */
}
.but_rad{
    /* display: flex; */
    /* justify-content: center; */
    position: relative;
    z-index: 1;
}
.but_rad button{
    display: block;
    width: 280px;
    height: 100px;
    border-radius: 85px;
    background-color: rgba(33, 155, 224, 1);

    font-family: Montserrat;
    font-size: 22px;
    font-weight: 800;
    line-height: 23px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    
    position: relative;
    z-index: 1;
    border: none;
    margin: 80px auto 0 auto;

    cursor: pointer;
    transition: 0.5s;
}
.but_rad button:hover {
    background: rgb(22, 111, 161);
}
.but_rad::after {
    content: "";
    display: block;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translateY(-50%);

    width: 190px;
    height: 190px;

    background-image: url('../icons/190pxcircle.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}
@media (max-width: 800px) {
    .but_rad_none::after {
        display: none;
    }
}
@media(max-width: 430px) {
    .but_rad::after {
        display: none;
    }
}
.but_rad div{
    position: absolute;
    margin-left: 186px;
}
.but_rad1{
    width: 114px;
    height: 114px;
    border-radius: 119.7px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    margin-top: 74px;
}
.but_rad2{
    width: 146px;
    height: 146px;
    border-radius: 153.3px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 60px;
}
.but_rad3{
    width: 178px;
    height: 178px;
    border-radius: 186.9px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 45px;
}

.step_card{
    width: 260px;
    height: 401px;
    background-image: url("../img/fon/block_step-fon.webp");
    padding-left: 20px;
    padding-right: 10px;
    background-repeat: no-repeat;
    position: relative;
    /* margin-top: 90px; */
}
.step_card::after {
    content: "";
    display: block;
    position: absolute;

    left: 50%;
    bottom: -5%;
    transform: translateX(-50%);

    width: 20px;
    height: 20px;

    background-image: url('../icons/20pxcircle.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}
.step_head{
    padding-top: 27px;
    position: relative;
    display: flex;
}
.step_head .step{
    width: 150px;
    padding: 10px 20px;
    border-radius: 38px;
    background-color: #000;
}
.step_head .vector{
    width: 40px;
    position: absolute;
    right: 20px;
    top: 43px;
}
.step_main{
    padding-left: 10px;
    width: 200px;
}
.step_main h3{
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color: rgba(33, 155, 224, 1);
    margin-top: 24px;
}
.step_main p{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;
    color: rgba(184, 184, 184, 1);
    margin-top: 31px;
}
.step_card .boll_rad{
    left: 43%;
    bottom: -21px;
    top: auto;
}
.step_card .boll_rad .boll{
    width: 8px;
    height: 8px;
}
.step_card .boll_rad .rad-1{
    width: 20px;
    height: 20px;
    margin-left: -7px;
}

@media screen and (max-width:1440px) {
    .first_2{
        margin-left: 0;
    }
}
.first{
    margin-left: 0;
}
.card_head{
    width: 260px;
    height: 141px;
    background-image: url("../img/fon/fon_card.webp");
    background-repeat: no-repeat;
    position: relative;
}
.card_head .boll_rad{
    top: -22px;
}
.boll_rad{
    position: absolute;
    top: 0;
    left: 47%;
}
.boll{
    width: 14.95px;
    height: 14.95px;
    border-radius: 15.7px;
    background-color: rgba(33, 155, 224, 1);
}
.radius{
    position: absolute;
    top: 0;
}
.rad-1{
    width: 28.05px;
    height: 28.05px;
    border-radius: 29.45px;
    border: 0.25px solid rgba(255, 255, 255, 0.4);
    margin-left: -8px;
    margin-top: -8px;
}
.rad-2{
    width: 41.75px;
    height: 41.75px;
    border-radius: 43.84px;
    border: 0.29px solid rgba(255, 255, 255, 0.2);
    margin-left: -15px;
    margin-top: -15px;
}
.rad-3{
    width: 58px;
    height: 58px;
    border-radius: 60.9px;
    border: 0.33px solid rgba(255, 255, 255, 0.1);
    margin-left: -23px;
    margin-top: -23px;

}
.card_head .top{
    display: flex;
    justify-content: center;
    padding-top: 49px;
    align-items: center;
}
.card_head::after {
    content: "";
    display: block;
    position: absolute;

    top: -30%;
    left: 50%;
    transform: translateX(-50%);

    width: 58px;
    height: 58px;

    background-image: url('../icons/58pxcircle.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}
.card_head div img{
    width: 64px;
}
.card_head .line{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    width: 40px;
    margin-left: 28px;
    margin-right: 28px;
    padding-top: 0px;
}

.card_main{
    margin-top: -6px;
    padding-top: 6px;
    height: 240px;
    background-color: rgba(13, 18, 24, 1);
    padding-left: 30px;
    padding-right: 20px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
}
.card_main .title{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color: rgba(33, 155, 224, 1);
    margin-top: 23px;
}
.card_main .txt{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;
    color: rgba(184, 184, 184, 1);
    margin-top: 31px;
}

.price {
    /* padding: 45px 0; */
}
.price__table {
    background-color: rgba(0, 0, 0, 1);
    margin: 90px 0 0 0;
    border-radius: 56px;
    border: 1px solid rgba(29, 29, 47, 1);
}
.base__subtitle{
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    color: #fff;
    margin-top: 44px;
}

.price__table table {
    border-collapse: collapse;
    border-radius: 10px;
    width: 100%;
    padding: 30px;
    font-family: Montserrat;
}

.price__table thead {
    color: #fff;
}

.price__table thead th {
    /* border-left: 1px solid rgba(222, 222, 222, 0.1764705882); */
    border-right: 1px solid rgba(222, 222, 222, 0.1764705882);
    padding: 20px;
    max-height: 30px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
}

.price__table thead .table_top-left-td {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 12px;
}

.price__table thead .table_top-right-td {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.price__table tbody .table__td {
    /* border-top-left-radius: 12px; */
    /* border-bottom-left-radius: 12px; */
}

.price__table tbody .table_last-td {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 24px;
}

.price__table tbody .table_right-last-td {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 24px;
}

.price__table tbody .table__right-td {
    /* border-top-right-radius: 12px; */
    /* border-bottom-right-radius: 12px; */
}

.price__table tbody tr {
    border-radius: 10px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.price__table tbody tr:nth-child(even) {
    background-color: rgba(34, 41, 48, 1);
}
.price__table tbody tr:nth-child(even):hover {
    background-color: rgb(50 65 80);
}


.price__table tbody tr:nth-child(odd) {
    border-radius: 10px;
    background-color: rgba(13, 18, 24, 1);
}
.price__table tbody tr:nth-child(odd):hover {
    background-color: rgb(50 65 80);
}

.price__table tbody td {
    padding: 22px 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
}

.price__table tbody td:nth-child(2) {
    font-size: 19px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color: rgba(33, 155, 224, 1);
}

.price__table tbody td:nth-child(3) {
    color: rgba(184, 184, 184, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;

}

.price__table tbody td:nth-child(4) {
    color: #B8B8B8;
}

.price__table tbody td:nth-child(even) {
    border-left: 0.63px solid rgba(46, 50, 51, 0.168627451);
    border-right: 0.63px solid rgba(46, 50, 51, 0.168627451);
}

.price__table tbody td:last-child {
    border-right: 0px none;
}

.price__table tbody td img {
    margin: 0 auto;
}

.price__exclam {
    border: 1px solid rgba(222, 222, 222, 0.1764705882);
    border-bottom-left-radius: 65px;
    border-bottom-right-radius: 65px;
    padding: 30px;
    /* margin-top: -30px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
@media (max-width: 900px) {
    .price__exclam {
        flex-direction: column;
        gap: 50px;
    }
}

.price__exclam-intro {
    display: flex;
    align-items: center;
}

.price__exclam-intro p {
    font-size: 21px;
    line-height: 24px;
    color: #f5f5f5;
    /* margin-left: 10px; */
    max-width: 640px;
}

.price__mob {
    display: none;
}
.price__mob-intro{
    display: grid;
    justify-content: center;
}
.price__mob-item {
    display: flex;
    align-items: center;
    max-width: 320px;
    margin: 20px auto 0 auto;
    padding: 15px 0;
    border-bottom: 1px dashed #2E3233;
}
.base__title{
    /* width: 280px; */
    font-family: Montserrat;
    font-size: clamp(1.625rem, 0.489rem + 5.68vw, 4.75rem);
    line-height: clamp(1.625rem, 0.489rem + 5.68vw, 4.75rem);
    font-weight: 800;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
}
.base__subtitle{
    font-family: Montserrat;
    /* font-size: 16px; */
    /* font-weight: 500; */
    line-height: 26px;
    text-align: center;
}
.price__mob-item-txt {
    margin: 0 10px;
}

.arrow__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(1.563rem, 0.385rem + 4.49vw, 3.75rem);
    height: clamp(1.563rem, 0.385rem + 4.49vw, 3.75rem);
    padding: clamp(0.938rem, 0.71rem + 1.14vw, 1.563rem);
    border-radius: 50%;
    border: 2px solid #219BE0;
    transition: 1s;
}
.arrow__box_active {
    background: #219BE0;
    transform: rotate(180deg);
}

.price__mob-item-txt h2 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 900;
    line-height: 19.5px;
    text-align: left;
    color: rgba(33, 155, 224, 1);
    margin-bottom: 4px;
}
.price__mob-item-txt p{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    color: rgba(184, 184, 184, 1);
    text-align: left;
    margin-bottom: 6px;
}
.price__mob-item-txt h3{
    color: rgba(184, 184, 184, 1);
}
.price__exclam img{
    /* padding: 9px 30px; */
    /* border: 5px solid rgba(33, 155, 224, 1); */
    /* border-radius: 50%; */
    /* height: 73px; */
    height: 80px;
    width: 80px;
    margin: 0 20px;
}

.price__exclam-intro p {
    font-size: 19px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    /* margin-right: 30px; */
}
.btn__blue{
    border: none;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 800;
    line-height: 23px;
    text-align: center;
    padding: 20px 26px;
    background: rgba(33, 155, 224, 1);
    width: 280px;
    height: 100px;
    border-radius: 85px;
    color: #fff;

    cursor: pointer;
    transition: 0.5s;
}
.btn__blue:hover {
    background: rgb(22, 111, 161);
}
.zone {
    padding: 45px 0;
    font-family: Montserrat;
    display: grid;
    justify-content: center;
    background-image: url("../img/bg/fon-4-min.webp");
    background-position-y: -665px;
}

.zone__maps {
    /* background: #E8E8E8; */
    border-radius: 56px;
    /* height: 860px; */
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

.zone__item iframe {
    width: 800px;
    height: 100%;
    border-top-left-radius: 56px;
    border-bottom-left-radius: 56px;
}

.zone__links {
    background: #171717;
    border-top-right-radius: 56px;
    border-bottom-right-radius: 56px;
    padding: 40px;
    max-width: 360px;
    backdrop-filter: blur(30px);
}

.zone__maps-intro {
    border-bottom: 1px solid #4E4D4D;
    padding: 10px 0;
    font-family: "Bebas Neue Pro", sans-serif;
}

.zone__maps-intro h2 {
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;    
    margin-top: 0;
    color: #219be0;
}

.zone__nav {
    margin: 14px 0;
    max-height: 300px;
    overflow-y: scroll;
    padding: 10px 0;
}

.zone__nav::-webkit-scrollbar {
    width: 10px;
}

.zone__nav::-webkit-scrollbar-track {
    border: 1px dashed rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.zone__nav::-webkit-scrollbar-thumb {
    background: rgba(33, 155, 224, 1);
    border-radius: 10px;
    height: 39px;
}
.zone__nav{
    scrollbar-width: 10px;
    scrollbar-color: rgba(33, 155, 224, 1) rgba(255, 255, 255, 0.2);
  }

.zone__nav nav ul {
    display: flex;
    flex-direction: column;
}

.zone__nav nav ul li {
    margin-top: 5px;
}

.zone__nav nav ul li::before {
    content: "■";
    font-size: 10px;
    margin-left: -14px;
    padding-right: 8px;
    vertical-align: 20%;
    color: #989898;
    border-radius: 100%;
}

.zone__nav nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: "Bebas Neue Pro", sans-serif;
    font-size: 21px;
    line-height: 24px;
}

.zone__nav nav ul li a:active {
    color: rgba(33, 155, 224, 1);
}

.zone__nav nav ul li a:focus {
    color: rgba(33, 155, 224, 1);
}

.zone__form {
    border-top: 1px solid #4E4D4D;
    padding: 30px 0px 0 0;
}

.zone__form-intro h2 {
    text-wrap: balance;
    color: #2CB742;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;    
    text-transform: uppercase;
    margin: 10px 0;
}

.zone__form-tel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.zone__form-ws {
    display: flex;
    align-items: center;
}

.zone__form-tel a {
    text-decoration: none;
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    
    letter-spacing: 0.1em;
    margin-left: 10px;
}

.zone__request {
    display: flex;
    flex-direction: column;
    font-family: "Bebas Neue Pro", sans-serif;
}

.zone__request button {
    margin: 10px auto;
    width: 200px;
    height: 60px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.zone__request #political {
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: 100%;
}

.zone__request #political a {
    color: #fff;
}

.zone__request #political label {
    margin-left: 5px;
}
.zone__request form {
    display: grid;
}

.zone__request-input-item {
    padding: 10px 15px;
    margin: 10px auto;
    border-radius: 30px;
    border: 0px none;
    outline: 0px none;
    font-family: "Bebas Neue Pro", sans-serif;
    text-align: center;
    font-size: 17px;
    line-height: 18px;
    width: 200px;
    height: 50px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2509803922) inset;
}
.carousel__pagination{
    align-items: center;
    margin-top: 40px;
}
.carousel__pagination-button{
    height: 5px;
    width: 5px;
    background-color:rgba(73, 72, 89, 1);
    margin-right: 31px;
    border-radius: 25px;
}
.active{
    width: 16px;
    height: 16px;
    border: 3px solid rgba(33, 155, 224, 1);
    border-radius: 39px;
    background-color: #000;
}

.RobSan{
    margin: 40px 0 0 0;
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 700;
    line-height: 26px;
    display: flex;
    justify-content: center;
}
.RobSan .Rob{
    text-align: center;
    border-right: 1px solid;
    color: #fff;
    padding-right: 23px;
    margin-right: 24px;
}
.feedback__links{
    margin: 60px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 60px;
}
.feedback__link-item .but_rad button {
    margin: 0;
}
.feedback__qr{
    width: 140px;
    height: 140px;
    padding: 24.5px;
    border-radius: 80px;
    background-color: #fff;
    /* margin-left: 40px; */
    /* margin-top:70px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback__links p{
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 700;
    line-height: 26px;
    text-align: right;
    /* margin-right: 40px; */
    color: #fff;
    /* margin-top: 70px; */
}
.btn2 button {
    margin: 0 60px 0 40px;
}
.question {
    padding: 45px 0;
}

.question__wrapper {
    margin: 50px 0 0 0;
    border-radius: 56px;
}

.question__accordeon {
    background-color: rgba(13, 18, 24, 1);
    border: 1px solid #4E4D4D;
    border-bottom: #ffffff00;
    border-top: #ffffff00;
    color: #fff;
    padding: 30px;
}

.question__accordeon hr {
    width: 95%;
    height: 0px;
    background: #4e4e4e;
    opacity: 0.1;
    margin: 20px auto 0 0;
}

.question__acc-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}
.question__acc-head h3 {
    font-family: Montserrat;
    font-size: clamp(1rem, 0.932rem + 0.34vw, 1.188rem);
    font-weight: 700;
    line-height: clamp(1.125rem, 0.943rem + 0.91vw, 1.625rem);
    text-align: left;
    color: rgba(33, 155, 224, 1);
    text-transform: uppercase;    
}

.question__acc-body {
    /* padding: 30px 0; */
    max-height: 0px;
    overflow: hidden;
    transition: 1s;
}
.question__acc-body_active {
    max-height: 200px;
}

.question__acc-body p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 20px;
    color: rgba(184, 184, 184, 1);
}


.question__footer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px auto;
}

.question__footer-item p {
    font-family: "Bebas Neue Pro", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
}

.question__footer-item .btn__red {
    max-width: 220px;
    margin: 10px auto;
}
.question__acc-body {
    /* display: none; */
}
.first__acordeon{
    background-color: #000;
    border: 1px solid #4E4D4D;
    border-bottom: #ffffff00;
    border-top-left-radius: 56px;
    border-top-right-radius:56px ;
}
.end__accordeon{
    border: 1px solid #4E4D4D;
    border-top: #ffffff00;
    border-bottom-left-radius: 56px;
    border-bottom-right-radius:56px ;
}

.protect{
    padding: 80px 0 0 0;
    /* margin-top: 84px; */
    background: url("../img/bg/fon-5-min.webp");
    background-repeat: no-repeat;
    background-size: 100% 200%;
    background-position-y: -800px;
}
.protect__body{
    column-gap: 40px;
    row-gap: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 75px;
}
.protect__card{
    position: relative;
    background-image: url("../img/fon/fon-protected.webp");
    width: 360px;
    height: 241px;
    padding: 32px 20px 20px 20px;
    background-repeat: no-repeat;
    position: relative;
    /* margin-top: 74px; */
}
.protect__card::after {
    content: "";
    display: block;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    width: 58px;
    height: 58px;
    background-image: url("../icons/58pxcircle.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
}
.protect__card .boll_rad{
    top: -21px;
    left: 48%;
    z-index: -1;
}
.protect__card .titl{
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color: rgba(33, 155, 224, 1);
    /* margin-left: 30px; */
}
.protect__card .txt{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;
    margin-top: 26px;
    color: #fff;
    /* margin-left: 30px; */

    color: rgb(184, 184, 184);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
}
.protect__card img{
    width: 80px;
    height: 80px;

}
.protect__card .protect__img{
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: right;
    /* margin-top: 20px; */
    /* margin-right: 20px; */
}
.sub__titel{
    margin: 55px 0 0 0;
    font-family: Benzin;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: #fff;
    
}
.row2 img{
    width: 38px;
    height: 38px;
    border-radius: 38px;
    padding: 20px;
    background-color: rgba(33, 155, 224, 1);
}
.technicians__body{
    margin: 70px 0 0 0;
    column-gap: 40px;
    row-gap: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tech__cards{
    width: 360px;
    /* height: 600px; */
    position: relative;
    /* margin-top: 72px; */
}
.tech__cards::after {
    content: "";
    display: block;
    position: absolute;
    top: -8%;
    left: 50%;
    transform: translateX(-50%);
    width: 58px;
    height: 58px;
    background-image: url("../icons/58pxcircle.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}
.tech-body{
    background-color: rgba(13, 18, 24, 1);
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
    padding: 24px 29px 34px 30px;
    height: 400px;
}
@media (max-width: 430px) {
    .tech-body {
        height: auto;
    }
}
.tech-body .title{
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color: rgba(33, 155, 224, 1);
    /* margin: 0 24px; */
}
.tech-body .txt{
    margin: 26px 0 0 0;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 28.7px;
    text-align: left;
    color: rgba(184, 184, 184, 1);
}
.tech__cards .boll_rad{
    top: -22px;
    left: 48%;
}
.technicians__footer{
    /* display: grid; */
    /* justify-content: center; */
    margin-top: 84px;
}
.technicians__footer p{
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    color: #fff;
    text-wrap: balance;
}


.find {
    /* padding: 45px 0; */
}

.find__map-title {
    text-align: center;
    margin: 50px auto;
}

.find__map-title h3 {
    font-family: "Bebas Neue Pro", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
}

.find__map-wrapper {
    margin: 50px auto;
    /* background-color: #E8E8E8; */
    /* border: 1px solid rgb(49, 49, 68); */
    border-radius: 58px;
}
@media (max-width: 645px) {
    .find__map-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }
}
#map-container {
    iframe {
        border: 0;
        border-bottom-left-radius: 56px;
        border-bottom-right-radius: 56px;
    }
}
@media (max-width: 645px) {
    #map-container {
        iframe {
            border-radius: 54px 54px 0 0
        }
    }
}
.find__map-head {
    background-color: #191919;
    padding: 60px 100px;
    border-radius: 54px 54px 0px 0px;
    /* font-family: "Bebas Neue Pro", sans-serif; */
}
@media (max-width: 900px) {
    .find__map-head {
        padding: 50px 20px;
    }
}
@media (max-width: 645px) {
    .find__map-head {
        padding: 40px 20px 20px 20px;
        border-radius: 0 0 54px 54px
    }
}

.find__map-head form {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}
@media (max-width: 1100px) {
    .find__map-head form {
        justify-content: center;
    }
}
@media (max-width: 900px) {
    .find__map-head .but_rad button {
        width: 260px;
    }
}

.find__map-head form input {
    width: 260px;
    height: 80px;
    border-radius: 85px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: center;
    padding: 12px 18px;
    border: 0px none;
    outline: 0px none;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2509803922) inset;
    /* margin-right: 20px; */
}

.find__map-body {
    height: 350px;
}
.find__map-body iframe {
    width: 100%;
    height: 350px;
}
.find__map-head .but_rad{
    height: 100px;
}
.find__map-head .but_rad button{
    margin-top: 0;
}
.find__map-head .but_rad .but_rad1{
    margin-top: -8px;
}
.find__map-head .but_rad .but_rad2{
    margin-top: -22px;
}
.find__map-head .but_rad .but_rad3{
    margin-top: -41px;
}
.contact{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 84px;
}

@media(max-width: 900px) {
    .contact {
        flex-direction: column;
    }
}
.block-left,.block-right{
    border-radius: 56px;
    font-family: Montserrat;
}
.block-left{
    padding: 60px 40px;
    margin: 0;
    width: 360px;
    max-width: 360px;
    min-width: 300px;
    background-color: rgba(13, 18, 24, 1);
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #1D1D2F 0%, #29292E 153.89%);
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
}
@media(max-width: 900px) {
    .block-left {
        margin: 0 auto;
    }
}
.block-left .phone{
    /* width: 19.89px;
    height: 31.67px;
    padding: 44px;
    border-radius: 56px;
    background-color: rgba(33, 155, 224, 1); */
    margin: 0 auto;
    display: block;
}
.block-left .title{
    font-family: Montserrat;
    font-size: 29px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    color: rgba(33, 155, 224, 1);
    margin-top: 25px;
}
.block-left .number{
    font-family: Montserrat;
    font-size: clamp(1.25rem, 1.159rem + 0.45vw, 1.5rem);
    font-weight: 800;
    line-height: 30.48px;
    text-align: center;
    color: #fff;
    margin-top: 25px;
    text-decoration: none;
}
.block-left a img{
    width: 180.8px;
    margin-top: 14px;
}
.block-left a svg{
    width: 180.8px;
    margin-top: 14px;
}
.block-left a svg:hover {
    rect {
        fill: #1b6e29;
    }
}
.block-left hr {
    border: none;
    border-bottom: 2px dashed #4E4D4D;
    height: 0px;
    margin: 36px 0;
}
.block-left .time{
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    /* margin-top: -30px; */
    color: #fff;
}
.block-right{
    width: 760px;
    /* max-width: 760px;
    min-width: 560px; */
    background-color: rgba(13, 18, 24, 1);
}
.block-right h2{
    font-family: Montserrat;
    font-size: 29px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    margin-top: 52px;
    color: rgba(33, 155, 224, 1);
}
.block-right form{
    padding: 60px 90px 20px 90px;
}
@media(max-width: 1200px) {
    .block-right form {
        padding: 60px 30px 20px 30px;
    }
}
.input__row1{
    display: flex;
    height: 80px;
}
.block-right input{
    height: 100%;
    width: 50%;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: center;
    border-radius: 85px;
    outline: 0px none;
}
.input__row2{
    display: flex;
    margin-top: 21px;
}
.input__row2 input[type="text"]{
    height: 160px;
    border: none;
    width: 50%;
    border-radius: 50px;
}
.block__ {
    width: 50%;
}
.input__row2 div div{
    display: flex;
    width: 285px;
}
.input__row2 div button{
    border: none;
    border-radius: 85px;
    background-color: #219BE0;
    color: #fff;
    font-size: 22px;
    font-weight: 800;
    line-height: 23px;
    text-align: center;
    padding: 25px;
    margin-bottom: 18px;
    text-transform: uppercase;
    width: 280px;

    cursor: pointer;
    transition: 0.5s;
}
.input__row2 div button:hover {
    background: rgb(22, 111, 161);
}
@media(max-width: 1200px) {
    .input__row2 div button {
        width: 100%;
    }
}
@media(min-width: 768px) {
    .input__row2 div button {
        /* width: 400px; */
    }
}
.input__row2 div div p{
    text-wrap: balance;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;
    color: rgba(184, 184, 184, 1);
    margin-left: 10px;
    width: 260px;
    opacity: 0.5;
}
input[type="checkbox"] {
    display: none;
}

label {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    max-width: 40px;
    height: 40px;
    border: 2px solid rgba(106, 106, 106, 1);
    border-radius: 10px;

    cursor: pointer;
}

input[type="checkbox"]:checked + label::before {
    content: "\2713"; 
    display: block;
    text-align: center;
    line-height: 18px;
    color: #219BE0;
    font-size: 200%;
}
.input__row1, .input__row2 {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
}
.end p{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: center;
    color: #fff;
    margin-top: 88px;
    margin-bottom: 71px;
}
.mob__slaider{
    display: none;
}
.blck{
    background-image: url("../img/bg/fon-1.png");
    background-position-y: -665px;
    padding-left: 19.64vw;
    padding-right: 19.79vw;
    margin:0;
}
.footer {
    background: url("../img/bg/fon-6-min.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
input:focus::placeholder {
    opacity: 0;
}
@media screen and (max-width: 700px) {
    .price {
        /* padding: 100px 0; */
        display: none;
    }
}
@media screen and (max-width:1100px) {
    /* .price {
        padding: 100px 0;
        display: none;
    } */

    .price__mob {
        padding: 100px 0;
    }
    .zone__maps {
        background: transparent;
        flex-direction: column;
    }

    .zone__links {
        margin: -4px auto 0 auto;
        border-radius: 0 0 20px 20px;
        max-width: unset;
        width: 500px;
    }
    .zone__request-input-item {
        width: 280px;
    }
    .zone__request button {
        width: 280px;
    }
    .zone {
        /* padding: 100px 0; */
    }
    .zone__item {
        margin: 0 auto;
    }
    .zone__item iframe {
        width: 500px;
        height: 700px;
        border-radius: 20px 20px 0 0;
    }
    .question {
        /* padding: 100px 0; */
    }
    .feedback{
        /* margin-top: 670px; */
    }
}

@media screen and (max-width:1024px) {
    .container{
        /* margin: 0 5vw; */
    }
}
@media screen and (max-width:800px) {
    .container,.zone,.blck{
        background-image: none;
        /* padding-left: 0; */
        /* padding-right: 0; */
    }
    .navigation .but button {
        max-width: none;
        min-width: none;
        /* width: 170px; */
    }
    .kr-2{
        margin-left: 5.5vw;
    }
    .kr-3{
        margin-left: 3.5vw;
    }
    .cards{
        /* margin-left: 24.5vw; */
    }
    .card{
        max-width: none;
        min-width: 100px;
    }
    .first_2{
        /* margin-left: 40px; */
    }
    .find__map-head .but_rad button {
        /* margin-top: 15px; */
    }
    .find__map-head .but_rad1,.but_rad2,.but_rad3{
        display: none;
    }
    .find__map-head form input{
        /* margin-top: 15px; */
    }
    .find__map-head form {
        justify-content: center;
        flex-wrap: wrap;
    }
    .footer__form {
        margin: 24px auto;
        max-width: 320px;
        padding: 30px;
    }
    .input__row1, .input__row2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        input, input[type=text], .input__row2 div button {
            width: 280px;
        }
    }
    .input__row2 {
        margin: 10px 0 0 0;
    }
    .block-right{
        width: auto;
        min-width: auto;
        background-color: #ffffff00;
    }
    .block__{
        display: grid;
        justify-content: center;
    }
    .input__row1{
        height: 200px;
    }
    .feedback{
        /* margin-top: 680px; */
    }
    .protect__card{
        margin-right: 0;
    }
    .step_card{
        /* margin-left: 30px; */
    }
}
@media (max-width: 1250px) {
    .two {
        background: none
    }

    .zone {
        background-image: none
    }

    .protect {
        background: none
    }

    .footer {
        background: none
    }
}
@media (max-width: 800px) {
    .input__row2 div button {
        width: 280px;
        }
    .input__row2 div div {
        width: 280px;
    }
}
@media screen and (max-width:625px) {
    .head_tel a {
        font-size: 10.6px;
        font-weight: 800;
        line-height: 12.92px;
        text-align: center;
        text-wrap: nowrap;
    }
    .head nav {
        display: block;
        width: 130px;
    }
}
@media screen and (max-width:555px) {
    .zone__request-input-item {
        width: 200px;
    }
    .zone__form-tel a {
        font-size: 16px;
    }
    .zone__request button {
        width: 200px;
    }
    .zone__request form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .zone__item iframe {
        width: 280px;
        height: 500px;
    }
    .zone__links {
        width: 280px;
    }
    .zone__item {
        width: 280px;
    }
}
@media screen and (max-width:425px) {
    header{
        background-image: none;
    }
    .container{
        /* margin-left: 19.58vw; */
        /* margin-right: 20.63vw; */
    }
    .logo{
        margin-right: 12px;
    }
    .logo img{
        width: 60px;
    }
    .logo p{
        font-size: 11px;
        font-weight: 500;
        line-height: 13.41px;
        text-align: left;
    }
    /* .head nav{
        display: block;
        width: 130px;
    } */
    .head_tel {
        margin: 0;
    }
    .head_tel img{
        width: 30px;
    }
    /* .head_tel a{
        font-size: 10.6px;
        font-weight: 800;
        line-height: 12.92px;
        text-align: center;
        text-wrap: nowrap;
    } */
    nav .watt img{
        display: block;
        height: 20px;
        /* margin-left: 25%; */
        margin: 5px auto 0 auto;
    }
    nav .watt svg{
        display: block;
        height: 20px;
        /* margin-left: 25%; */
        margin: 5px auto 0 auto;
    }
    h2{
        font-family: Montserrat;
        font-size: 26px;
        font-weight: 800;
        line-height: 25px;
        text-align: left;
        margin-top: 14.5px;
    }
    .head_fon_mob{
        margin-top: -5px;
        display: flex;
        justify-content: center;
    }
    .head_fon_mob img{
        max-width: clamp(17.5rem, 16.364rem + 5.68vw, 20.625rem);
        min-width: clamp(17.5rem, 16.364rem + 5.68vw, 20.625rem);
    }

    .filter {
        filter:drop-shadow(0px 9px 20px rgba(184, 184, 184, 0.1)) drop-shadow(0px 36px 36px rgba(184, 184, 184, 0.09)) drop-shadow(0px 82px 49px rgba(184, 184, 184, 0.05)) drop-shadow(0px 146px 58px rgba(184, 184, 184, 0.01)) drop-shadow(0px 228px 64px rgba(184, 184, 184, 0));
    }
    .navigation{
        display: grid;
        justify-content: center;
    }
    .navigation .but button{
        position: unset;
    }
    .kr{
        display: none;
    }
    .cards{
        display: grid;
        justify-content: center;
        margin-left: 0;
    }
    .card{
        min-width: 160px;
        margin-right: 0;
        /* margin-top: 23px; */
    }
    .card img{
        /* margin-left: 35%; */
    }
    .card p{
        font-size: 16px;
    }
    main .container{
        margin: 0;
        padding: 0 20px;
        /* border: none; */
    }

    .mob_but_rad{
        display: none;
    }
    .work_card{
        margin-left: 0;
    }
    .first_2{
        margin-left: 0;
    }
    .price {
        padding: 50px 0;
        display: none;
    }

    .price__exclam {
        flex-direction: column;
    }
    .base__subtitle{
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
    .zone {
        padding: 50px 0;
    }
    .zone__intro{
        display: grid;
        justify-content: center;
    }
    .block_cards{
        /* margin-top: 520px; */
    }
    .two{
        margin-top: auto;
    }
    .feedback{
        /* margin-top: 720px; */
    }
    .feedback__intro{
        display: grid;
        justify-content: center;
    }
    .question {
        padding: 50px 0;
    }
    .feedback__qr{
        display: none;
    }
    .feedback__links p{
        text-align: center;
        margin-right: 0;
    }
    .question__intro{
        display: grid;
        justify-content: center;
    }
    .tech__cards{
        width: 280px;
        /* height: 545px; */
        margin-right: 0;
        /* margin-top: 120px; */
    }
    .tech__cards img{
        width: 280px;
    }
    .technicians__head{
        display: grid;
        justify-content: center;
    }
    .technicians__footer p{
        width: 275px;
        text-align: center;
        margin: 0 auto;
    }
    .find__map-head form {
        justify-content: center;
    }
    .find__map-head{
        padding: 60px 30px;
    }

    .find__map-head form input {
        /* max-width: 80%; */
    }

    .find__map-head form button {
        margin: 24px 0;
    }
    .find__intro{
        display: grid;
        justify-content: center;
    }
    .contact{
        /* flex-direction: column; */
        /* margin-top: 75px; */
    }
    .block-left{
        height: 501px;
        min-width: 280px;
        margin-right: 0;
    }
    .block-right{
        min-width: 280px;
        background-color: #000;
    }
    .block-right form{
        padding: 0;
    }
    .block-right h2{
        font-size: 19px;
        font-weight: 700;
        line-height: 26px;
        text-align: center;
        margin-bottom: 43px;
    }
    .footer__intro{
        display: grid;
        justify-content: center;
    }
    .input__row2 div div{
        border-bottom: 3px dashed rgba(255, 255, 255, 0.2);
        padding-bottom: 20px;
    }
    .input__row2 div div label{
        /* height: 20px; */
        /* width: 30%; */
        /* border-radius: 5px; */
    }
    .input__row2 div div p{
        font-size: 13px;
        font-weight: 500;
        line-height: 15.85px;
        text-align: left;

    }
    .zone__content{
        /* width: 310px; */
    }
    .find{
        display: grid;
        justify-content: center;
    }
    .find__content{
        width: 280px;
    }
    .find__map-head form{
        /* width: 240px; */
    }
    .find__map-head form button{
        width: 240px;
    }
    .question{
        display: grid;
        justify-content: center;
    }
    .question__content{
        width: 280px;
    }
    .protect__intro{
        display: grid;
        justify-content: center;
    }
    .zone__item{
        /* width: 240px; */
        margin: 0 auto;
    }
    .zone__links{
        width: 280px;
    }
    .iphone[data-v-182029f8]{
        margin-left: -150px;
    }
    .controls{
        display: none;
    }
    .carousel__pagination{
        display: none;
    }
    .mob__slaider{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mob__slaider p{
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
        text-align: center;
        color: #fff;
    }
    .mab__slaider img{
        width: 80px;
        height: 80px;
    }
    .block_cards .h2,.h2{
        width: 360px;
        margin: 0 auto;
    }
}
/* @media screen and (max-width:580px) {
    .RobSan {
        display: none;
    }
} */
@media screen and (max-width:700px) {
    .price__mob {
        padding: 50px 0;
        display: block;
    }
    .price__exclam-intro {
        flex-direction: column;
    }

    .price__mob-item-img {
        width: 80px;
        height: 80px;
    }

    .price__exclam {
        background-image: none;
        border: none
    }

    .price__exclam-intro img {
        height: 41.5px;
        margin-left: 0;
        margin-bottom: 35px;
        margin: 0 auto;
    }

    .price__exclam-intro p {
        width: clamp(17.5rem, 5.921rem + 57.89vw, 31.25rem);
        text-align: center;
        font-size: clamp(0.875rem, 0.761rem + 0.57vw, 1.188rem);
        margin: 10px auto 0 auto;
        /* margin-bottom: 45px; */
    }
    .price__btn {
        position: relative;
    }
    .price__btn::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%);
        width: 190px;
        height: 190px;
        background-image: url("../icons/190pxcircle.svg");
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
    }
}
@media(max-width: 430px) {
    .price__btn::after {
        display: none;
    }
}
@media screen and (min-width:2560px) {
    main{
        margin-top: 320px;
    }
}
@media(max-width: 450px) {
    .block-left {
        width: auto;
        height: auto;
    }
}
@media(max-width: 450px) {
    .protect__body {
        row-gap: 60px;
    }
    .protect__card {
        background-size: 100% 100%;
        width: auto;
        width: 280px;
    }
}
@media(max-width: 720px) {
    .feedback__links {
        flex-direction: column;
        gap: 20px;
    }
    .feedback__links p {
        text-align: center;
    }
    .feedback__qr {
        display: none;
    }
}
@media(max-width: 700px) {
    .fix-title {
        margin: 0px 0 0 0 !important;
    }
}
@media(max-width: 800px) {
    .modalbox__intro {
        width: 500px;
    }
    .modalbox__intro h1 {
        width: 300px;
    }
    .modalbox__intro-ws {
        font-size: 20px !important;
    }
    .modalbox__head::after {
        top: -40%;
        left: 258px;
    }
    .modalbox__intro form {
        margin-top: -18px;
    }
    .modalbox__intro-content {
        margin-top: -18px;
    }
}
@media(max-width: 540px) {
    .modalbox__intro form .modalbox__input,
    .modalbox__intro form button {
        min-width: 200px;
        height: 80px;
    }

    .modalbox__intro {
        width: 280px;
    }

    .modalbox__head {
        height: auto;
        background-image: none;
        border: 1px solid #1d1d2f;
        border-top-left-radius: 56px;
        border-top-right-radius: 56px;
        padding: 25px 0;
        background: #000;
    }
    .modalbox__head::after {
        top: -85%;
        left: 50%;
        background-image: url("../icons/125pxcircle.svg");
        width: 125px;
        height: 125px;
    }

    .modalbox__close-item {
        left: 50%;
        transform: translateX(-50%);
        top: -33%;
    }

    .modalbox__intro form {
        margin-top: 0px;
        padding: 40px 0;
    }
    .modalbox__intro-content {
        margin-top: 0px;
        padding: 40px 0;
    }
    .modalbox__intro-ws {
        width: auto !important;
    }
    .modalbox__intro form .modalbox__input {
        max-width: unset;
        min-width: auto;
        width: 240px;
        height: 80px;
    }
    .modalbox__intro form .modalbox__textarea {
        max-width: unset;
        min-width: auto;
        width: 240px;
        height: 100px;
    }
    .modalbox__intro form button {
        width: 240px;
        height: 80px;
        max-width: unset;
        min-width: auto;
        margin: 30px 20px;
    }
    .modalbox__subtitle {
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }
    .modalbox__subtitle p {
        margin: 0 20px;
        text-align: center;
    }
    .modalbox__intro h1 {
        font-size: 19px;
        width: 175px;
    }
}